<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="navbar-nav">
     
     <li class="nav-item">
       <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" routerLink="/oldage-home" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       OldageHome
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" routerLink="/oldage-home/about">About</a>
         <a class="dropdown-item" routerLink="/oldage-home/help">Help</a>
         <a class="dropdown-item" routerLink="/oldage-home/join">Join</a>
       </div>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" routerLink="/orphanage" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       orphanage
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" routerLink="/orphanage/donations">Donations</a>
         <a class="dropdown-item" routerLink="/orphanage/our-impact">Our-Impact</a>
       </div>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" routerLink="/priest-centers" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       PriestCenters
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" routerLink="/priest-centers/news">News</a>
         <a class="dropdown-item" routerLink="/priest-centers/photos">Photos</a>
         <a class="dropdown-item" routerLink="/priest-centers/videos">Videos</a>
       </div>
     </li>
     
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" routerLink="/spiritual-centers" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       SpiritualCenters
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" routerLink="/spiritual-centers/duration">Duration</a>
         <a class="dropdown-item" routerLink="/spiritual-centers/location">Location</a>
         <a class="dropdown-item" routerLink="/spiritual-centers/room-registration">Room-Registration</a>
       </div>
     </li>
     <li class="nav-item">
         <a class="nav-link" routerLink="/about-us">About-Us</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" routerLink="/contact-us">Contact-Us</a>
         </li>
 
   </ul>
 </div>
</nav>
